@import "tailwindcss";

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 100vw;
  min-height: 100vh;
}

input:is([type="text"]) {
  background-color: white;
  color: black;
}

input:is([type="text"]):focus {
  outline: none;
}