@import "tailwindcss";

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 100vw;
  min-height: 100vh;
}

input:is([type="text"]) {
  background-color: white;
  color: black;
}

input:is([type="text"]):focus {
  outline: none;
}

/* emulate button  */
input:is([type="submit"]) {
  border: 1px solid white;
  padding: 5px;
  cursor: pointer;
}

input:is([type="submit"]):hover {
  border-color: black;
  color: black;
  background-color: white;
}

#give-zip-btn {
  transition: box-shadow 150ms ease-out;
}

#give-zip-btn:hover {
  background-color: white;
  box-shadow: 0 0 20px 10px rgba(255, 255, 255, 0.5);
}

@keyframes red-flash {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
  }
  50% {
    box-shadow: 0 0 30px 10px rgba(255, 0, 0, 0.9);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
  }
}

.missing-field-flash {
  animation: red-flash 1.5s ease-in-out;
}