@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  color: white;
  background-color: black;

  overflow: hidden;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

button {
  border: 1px solid;
  cursor: pointer;
  padding: 5px;
}
button:hover {
  border-color: black;
  color: black;
  background-color: white;
}
button:focus,
button:focus-visible {
  outline: none;
}
